body {
	margin: 0;
	text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container div {
	box-sizing: border-box;
	min-height: 150px;
	min-width: 150px;
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
}

.h1 {
	font-family:"Comic Sans MS", cursive
	}

.c1 {
  color: #000000;
  background-color: #c6e1f1;
}

.c2 {
  color: #000000;
  background-color: #f4d9ec;
}

.c3 {
  color: #000000;
  background-color: #ecdfbd;
}

.c4 {
  color: #000000;
  background-color: #d5dfef;
}

.c5 {
  color: #000000;
  background-color: #dfe1e5;
}


/* Empieza el Layout Shifter */
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2, .c3, .c4 {
  width: 100%;
}

@media (min-width: 600px) 
{
  .c1 {
    width: 25%;
  }

  .c4 {
    width: 75%;
  }

}

@media (min-width: 800px) 
{
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Termina el Layout Shifter */
.container .c4 .c2 {
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
}
.Titulo {
	font-family: "Comic Sans MS", cursive;
}
